@import "veriable";

.top-head-container {
	
	background-color: @top-header-color;
	display: block;
	height: auto;
	min-height: 60px;
	padding-bottom: 8px;
	padding-left: 110px;
	padding-right: 110px;
	padding-top: 8px;
	width: auto;

	.col-md-3{
		padding-top:5px;
		color: white;
		background-image: url('http://www.ansonika.com/edu/img/icon-phone.png');
		background-position:170px 0; 
		background-repeat: no-repeat;
		font-size:@small-font-size;
		font-weight:@light-font-weight;
		strong{
			color:@phone-color;
			font-size:16px;
		}
	}

	.col-md-4{
		padding-top:8px;
		padding-left:15px;
		ul {
		    padding-left:0px;
		    list-style-type: none;
		    color: white;
		    font-size: @small-font-size;
		    font-weight:@light-font-weight;
		    li{
				display: inline;

				a{
					color:white;
				}
			}
		}
	}
	
}

.navbar-container{

	background-color: @navBar-color;
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
	background-size: auto;
	color: rgb(255, 255, 255);
	display: block;
	height: 44px;
	line-height: 20px;
	width: auto;
	padding-top: 2px;
	padding-left:100px;

	.nav-pills>li>a{
		color: white;
		font-size:@small-font-size;
		&:hover{
			background-color: @navBar-hover-color;
		}
	}
}

.slide-Down-panle{
	background-color:@top-header-color;
	height: auto;
	width:auto;
	min-width:800px;
	max-width: 80%;
	display: none;
	color: white;
	border: 30px solid @top-header-color;
	border-top-width: 20px;
	border-left-width: 20px;
	margin-left:80px;
	position: absolute;
    z-index: 1000;

	.row p{
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: @small-font-size;
		font-weight: @light-font-weight;
	}


}

hr{
	margin: 20px 0 20px 0;
	border: 0;
	border-top: 1px solid #25282d;
	border-bottom: 1px solid #414750;
}

.marginDiv{
	margin:15px 5px 15px 5px;
}


#card{
	position: absolute;
	z-index: 999;
	margin-top:-20px;
	width:auto;
	padding-left:100px;
	
	h5{
		height:100px;
		width:100px;
		background-color: @navBar-hover-color;
	}
}




