@top-header-color: rgb(45, 52, 62);
@navBar-color: rgb(0, 153, 204);
@navBar-hover-color: darken(@navBar-color,10%);
@phone-color:#66cccc;
@box-color:rgb(0, 163, 214);
@facebook-color:#3B5998;
@pink:#FF6699;
@orange:#FF8330;
@green:#47A347;

@light-font-weight:300;
@small-font-size:12px;
@mid-font-size:15px;
@light-black-font:lighten(rgb(0,0,0),40%);


