@media all and (min-width: 768px) {
  /* line 6, /Users/EggDouglas/workshop/workshop/css/app */
  .carousel-inner > .item > img {
    min-height: 40vw;
  }
  /* line 11, /Users/EggDouglas/workshop/workshop/css/app */
  #imgroup {
    position: relative;
    top: -20vw;
  }
  /* line 15, /Users/EggDouglas/workshop/workshop/css/app */
  .slide-down-panle {
    width: 87vw;
  }
  /* line 18, /Users/EggDouglas/workshop/workshop/css/app */
  #b {
    left: -86px;
  }
  /* line 19, /Users/EggDouglas/workshop/workshop/css/app */
  #c {
    left: -246px;
  }
  /* line 20, /Users/EggDouglas/workshop/workshop/css/app */
  #d {
    left: -315px;
  }
  /* line 21, /Users/EggDouglas/workshop/workshop/css/app */
  #e {
    left: -553px;
  }
  /* line 22, /Users/EggDouglas/workshop/workshop/css/app */
  .nav.navbar-nav {
    margin-left: 60px;
  }
  /* line 27, /Users/EggDouglas/workshop/workshop/css/app */
  .col-md-5.col-sm-6 img {
    position: absolute;
    left: 40px;
  }
  /* line 33, /Users/EggDouglas/workshop/workshop/css/app */
  .droppad {
    width: 100px;
  }
  /* line 34, /Users/EggDouglas/workshop/workshop/css/app */
  .col-md-4 > .btn-default {
    width: 200px;
  }
  /* line 39, /Users/EggDouglas/workshop/workshop/css/app */
  #main > .col-md-3 {
    width: 31vw;
  }
  /* line 41, /Users/EggDouglas/workshop/workshop/css/app */
  #main > .col-md-3 .glyphicon {
    font-size: 30px;
  }
  /* line 45, /Users/EggDouglas/workshop/workshop/css/app */
  #main > .col-md-3 #down img {
    height: auto;
    width: 28vw;
  }
  /* line 51, /Users/EggDouglas/workshop/workshop/css/app */
  #main > .col-md-9 {
    width: 62vw;
  }
}
@media all and (max-width: 767px) {
  /* line 60, /Users/EggDouglas/workshop/workshop/css/app */
  .carousel-inner > .item > img {
    min-height: 60vw;
  }
  /* line 65, /Users/EggDouglas/workshop/workshop/css/app */
  #imgroup {
    position: relative;
    top: -30vw;
  }
  /* line 69, /Users/EggDouglas/workshop/workshop/css/app */
  .slide-down-panle {
    width: 100%;
  }
  /* line 72, /Users/EggDouglas/workshop/workshop/css/app */
  .nav.navbar-nav {
    padding: 5px 5px 5px 5px;
  }
  /* line 76, /Users/EggDouglas/workshop/workshop/css/app */
  .col-md-5.col-sm-6 img {
    margin: auto;
    top: 5;
    left: 0;
    right: 0;
    bottom: 5;
  }
  /* line 84, /Users/EggDouglas/workshop/workshop/css/app */
  .navbar-collapse.in {
    overflow-y: visible;
  }
  /* line 87, /Users/EggDouglas/workshop/workshop/css/app */
  .droppad {
    width: 95vw;
  }
  /* line 88, /Users/EggDouglas/workshop/workshop/css/app */
  .col-md-4 > .btn-default {
    width: 100%;
  }
  /* line 93, /Users/EggDouglas/workshop/workshop/css/app */
  #main > .col-md-3 {
    width: 90vw;
  }
  /* line 95, /Users/EggDouglas/workshop/workshop/css/app */
  #main > .col-md-3 .glyphicon {
    font-size: 50px;
    padding: 5px 10px 40px 10px;
  }
  /* line 100, /Users/EggDouglas/workshop/workshop/css/app */
  #main > .col-md-3 #down img {
    height: auto;
    width: 85vw;
  }
  /* line 106, /Users/EggDouglas/workshop/workshop/css/app */
  #main > .col-md-9 {
    width: 84vw;
    margin-left: 15px;
  }
}
/* line 113, /Users/EggDouglas/workshop/workshop/css/app */
.row {
  margin-left: 0px;
  margin-right: 0px;
}
/* line 118, /Users/EggDouglas/workshop/workshop/css/app */
body {
  background-image: url('http://www.ansonika.com/edu/img/pattern.jpg');
}
/* line 121, /Users/EggDouglas/workshop/workshop/css/app */
a {
  color: #00a3d6;
}
/* line 124, /Users/EggDouglas/workshop/workshop/css/app */
ul {
  padding-left: 0;
  list-style-type: none;
  text-align: left;
  font-size: 12px;
  font-weight: 300;
}
/* line 130, /Users/EggDouglas/workshop/workshop/css/app */
ul.courses {
  font-size: 15px;
}
/* line 136, /Users/EggDouglas/workshop/workshop/css/app */
.top-head-container {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
  min-height: 60px;
  text-align: center;
  display: block;
  padding: 8px 50px 8px 50px;
  background-color: #2d343e;
}
/* line 149, /Users/EggDouglas/workshop/workshop/css/app */
.top-head-container .head-block {
  width: 200px;
  margin: auto;
}
/* line 153, /Users/EggDouglas/workshop/workshop/css/app */
.top-head-container .col-md-3 {
  padding-top: 5px;
  color: white;
  font-size: 12px;
  font-weight: 300;
}
/* line 159, /Users/EggDouglas/workshop/workshop/css/app */
.top-head-container .col-md-3 img {
  float: right;
}
/* line 162, /Users/EggDouglas/workshop/workshop/css/app */
.top-head-container .col-md-3 strong {
  color: #66cccc;
  font-size: 16px;
}
/* line 168, /Users/EggDouglas/workshop/workshop/css/app */
.top-head-container .col-md-4 {
  padding-top: 8px;
  padding-left: 15px;
}
/* line 172, /Users/EggDouglas/workshop/workshop/css/app */
.top-head-container .col-md-4 ul {
  max-width: 170px;
  width: auto;
  margin: auto;
  padding-left: 0px;
  list-style-type: none;
  color: white;
  font-size: 12px;
  font-weight: 300;
}
/* line 181, /Users/EggDouglas/workshop/workshop/css/app */
.top-head-container .col-md-4 ul li {
  display: inline;
}
/* line 184, /Users/EggDouglas/workshop/workshop/css/app */
.top-head-container .col-md-4 ul li a {
  color: white;
}
/* line 193, /Users/EggDouglas/workshop/workshop/css/app */
.navbar-collapse {
  background-color: #0099cc;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  background-size: auto;
  color: #ffffff;
  width: 100%;
  position: absolute;
  z-index: 9999;
}
/* line 205, /Users/EggDouglas/workshop/workshop/css/app */
.navbar-collapse .nav.navbar-nav {
  margin-top: 0px;
  margin-bottom: 0px;
}
/* line 209, /Users/EggDouglas/workshop/workshop/css/app */
.navbar-collapse .navbar-nav > li > a {
  color: white;
  font-size: 12px;
}
/* line 213, /Users/EggDouglas/workshop/workshop/css/app */
.navbar-collapse .navbar-nav > li > a:hover {
  background-color: #007399;
}
/* line 220, /Users/EggDouglas/workshop/workshop/css/app */
.slide-down-panle {
  background-color: #2d343e;
  height: auto;
  padding: 10px 20px 10px 20px;
  display: none;
  color: white;
  border: 10px solid #2d343e;
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-width: 20px;
  border-left-width: 20px;
  position: absolute;
  z-index: 1000;
}
/* line 240, /Users/EggDouglas/workshop/workshop/css/app */
.slide-down-panle .row p {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 300;
}
/* line 247, /Users/EggDouglas/workshop/workshop/css/app */
.navbar-header {
  background-color: #0099cc;
}
/* line 249, /Users/EggDouglas/workshop/workshop/css/app */
.navbar-header a {
  color: white;
}
/* line 252, /Users/EggDouglas/workshop/workshop/css/app */
.navbar-header .icon-bar {
  background-color: white;
}
/* line 257, /Users/EggDouglas/workshop/workshop/css/app */
.drop-down-panle {
  position: absolute;
  left: 0px;
  z-index: 1000;
  display: none;
}
/* line 263, /Users/EggDouglas/workshop/workshop/css/app */
.drop-down-panle .droppad {
  text-align: center;
  padding-top: 0.2px;
  display: block;
  margin: 10px;
  border: 0 splid #00a3d6;
  border-radius: 5px;
  height: 35px;
  background-color: #3dd1ff;
  transition: background-color 2s, border-radius 2s;
}
/* line 274, /Users/EggDouglas/workshop/workshop/css/app */
.drop-down-panle .droppad:hover {
  background-color: #ff6699;
  border-radius: 20px;
}
/* line 284, /Users/EggDouglas/workshop/workshop/css/app */
hr {
  margin: 20px 0 20px 0;
  border: 0;
  border-top: 1px solid #25282d;
  border-bottom: 1px solid #414750;
}
/* line 289, /Users/EggDouglas/workshop/workshop/css/app */
hr.lightcolor {
  border-bottom-color: #ffffff;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: #2e415c;
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: #2e415c;
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: #cedee7;
  border-top-style: solid;
  border-top-width: 1px;
  color: #2e415c;
  display: block;
}
/* line 315, /Users/EggDouglas/workshop/workshop/css/app */
.marginDiv {
  margin: 15px 5px 15px 5px;
}
/* line 320, /Users/EggDouglas/workshop/workshop/css/app */
#card {
  margin-top: -45px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
/* line 326, /Users/EggDouglas/workshop/workshop/css/app */
#card .box {
  height: auto;
  width: auto;
  padding: 15px;
  margin: 15px;
  border: 8px solid #00ade0;
  border-radius: 5px;
  box-shadow: 5px 5px 3px #888888;
  background-color: #00a3d6;
}
/* line 335, /Users/EggDouglas/workshop/workshop/css/app */
#card .box a {
  text-decoration: none;
  width: 250px;
  color: white;
}
/* line 339, /Users/EggDouglas/workshop/workshop/css/app */
#card .box a h3 {
  color: #ffff99;
}
/* line 343, /Users/EggDouglas/workshop/workshop/css/app */
#card .box img {
  float: right;
}
/* line 347, /Users/EggDouglas/workshop/workshop/css/app */
#card #green {
  transition: background-color 2s, border-color 2s;
}
/* line 350, /Users/EggDouglas/workshop/workshop/css/app */
#card #green:hover {
  background-color: #47a347;
  border-color: #62bb62;
}
/* line 355, /Users/EggDouglas/workshop/workshop/css/app */
#card #orange {
  transition: background-color 2s, border-color 2s;
}
/* line 358, /Users/EggDouglas/workshop/workshop/css/app */
#card #orange:hover {
  background-color: #ff8330;
  border-color: #ffa263;
}
/* line 363, /Users/EggDouglas/workshop/workshop/css/app */
#card #pink {
  transition: background-color 2s, border-color 2s;
}
/* line 366, /Users/EggDouglas/workshop/workshop/css/app */
#card #pink:hover {
  background-color: #ff6699;
  border-color: #ff99bb;
}
/* line 374, /Users/EggDouglas/workshop/workshop/css/app */
#bigLogo {
  width: 25vw;
  height: auto;
  position: relative;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 10vw;
  -webkit-animation: logoin 2s;
  /* Chrome, Safari, Opera */
  animation: logoin 2s;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes logoin {
  /* line 387, /Users/EggDouglas/workshop/workshop/css/app */
  0% {
    left: -100px;
    bottom: 100px;
    width: 1px;
    opacity: 0;
    -webkit-transform: rotate3d(1, -1, 1, 230deg);
  }
  /* line 388, /Users/EggDouglas/workshop/workshop/css/app */
  100% {
    left: 0;
    bottom: 10vw;
    width: 25vw;
    opacity: 1;
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
  }
}
/* line 393, /Users/EggDouglas/workshop/workshop/css/app */
.carousel-caption {
  padding-bottom: 3vw;
}
/* line 396, /Users/EggDouglas/workshop/workshop/css/app */
.carousel-caption #imgroup {
  position: relative;
  margin: auto;
  bottom: 10vw;
  left: 0;
  right: 0;
}
/* line 403, /Users/EggDouglas/workshop/workshop/css/app */
.carousel-caption #services {
  height: auto;
  width: 50%;
  z-index: 10;
  position: absolute;
  left: 25%;
  top: 0;
  -webkit-animation: services 0.8s;
  /* Chrome, Safari, Opera */
  animation: services 1s;
}
@-webkit-keyframes services {
  /* line 414, /Users/EggDouglas/workshop/workshop/css/app */
  0% {
    left: -100px;
    top: -100px;
    width: 1px;
    opacity: 0;
    transform: rotate(280deg);
  }
  /* line 415, /Users/EggDouglas/workshop/workshop/css/app */
  100% {
    left: 25%;
    top: 0;
    width: 50%;
    opacity: 1;
    transform: rotate(0deg);
  }
}
/* line 417, /Users/EggDouglas/workshop/workshop/css/app */
.carousel-caption #icon1 {
  height: auto;
  width: 25%;
  z-index: 11;
  position: absolute;
  left: 6%;
  top: -1vw;
  -webkit-animation: icon1 1.8s;
  /* Chrome, Safari, Opera */
  animation: icon1 3s;
}
@-webkit-keyframes icon1 {
  /* line 429, /Users/EggDouglas/workshop/workshop/css/app */
  0% {
    left: -500px;
    top: 500px;
    opacity: 0;
    -webkit-transform: rotate3d(1, -1, 1, 230deg);
  }
  /* line 430, /Users/EggDouglas/workshop/workshop/css/app */
  100% {
    left: 6%;
    opacity: 1;
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
  }
}
/* line 433, /Users/EggDouglas/workshop/workshop/css/app */
.carousel-caption #icon2 {
  height: auto;
  width: 25%;
  z-index: 12;
  position: relative;
  left: 52%;
  top: 18vw;
  -webkit-animation: icon2 2.8s;
  /* Chrome, Safari, Opera */
  animation: icon2 5s;
}
@-webkit-keyframes icon2 {
  /* line 445, /Users/EggDouglas/workshop/workshop/css/app */
  0% {
    left: 1300px;
    top: 1300px;
    opacity: 0;
    -webkit-transform: rotateX(360deg);
  }
  /* line 446, /Users/EggDouglas/workshop/workshop/css/app */
  100% {
    left: 52%;
    top: 18vw;
    opacity: 1;
    -webkit-transform: rotateX(0deg);
  }
}
/* line 449, /Users/EggDouglas/workshop/workshop/css/app */
.carousel-caption #icon3 {
  height: auto;
  width: 25%;
  z-index: 13;
  position: relative;
  left: -25%;
  top: 18vw;
  -webkit-animation: icon3 3.8s;
  /* Chrome, Safari, Opera */
  animation: icon3 7s;
}
@-webkit-keyframes icon3 {
  /* line 461, /Users/EggDouglas/workshop/workshop/css/app */
  0% {
    left: -2800px;
    top: -2800px;
    opacity: 0;
    -webkit-transform: rotate3d(-1, -1, 1, 330deg);
  }
  /* line 462, /Users/EggDouglas/workshop/workshop/css/app */
  100% {
    left: -25%;
    top: 18vw;
    opacity: 1;
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
  }
}
/* line 465, /Users/EggDouglas/workshop/workshop/css/app */
.carousel-caption #icon4 {
  height: auto;
  width: 25%;
  z-index: 14;
  position: relative;
  left: 4%;
  top: -2vw;
  -webkit-animation: icon4 4.8s;
  /* Chrome, Safari, Opera */
  animation: icon4 9s;
}
@-webkit-keyframes icon4 {
  /* line 478, /Users/EggDouglas/workshop/workshop/css/app */
  0% {
    left: 4000px;
    top: -4000px;
    opacity: 0;
    -webkit-transform: rotateX(-230deg);
  }
  /* line 479, /Users/EggDouglas/workshop/workshop/css/app */
  100% {
    left: 4%;
    top: -2vw;
    opacity: 1;
    -webkit-transform: rotateX(0deg);
  }
}
/* line 485, /Users/EggDouglas/workshop/workshop/css/app */
.slidertext h1 {
  height: auto;
  position: absolute;
  right: 0px;
  top: -200px;
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: 800;
  background-color: #2d343e;
  padding: 10px;
  -webkit-animation: h1 1.5s;
  /* Chrome, Safari, Opera */
  animation: h1 1.5s;
}
@-webkit-keyframes h1 {
  /* line 500, /Users/EggDouglas/workshop/workshop/css/app */
  0% {
    right: 100px;
    top: -300px;
    opacity: 0.5;
  }
  /* line 501, /Users/EggDouglas/workshop/workshop/css/app */
  100% {
    right: 0px;
    top: -200px;
    opacity: 1;
  }
}
/* line 504, /Users/EggDouglas/workshop/workshop/css/app */
.slidertext p {
  position: absolute;
  right: 0px;
  top: -90px;
}
/* line 513, /Users/EggDouglas/workshop/workshop/css/app */
.col-md-4 > .btn-default {
  margin-bottom: 20px;
  height: 50px;
  text-align: left;
  color: white;
  background-color: #424952;
  border-radius: 5px;
  border-color: #425962;
  transition: background-color 2s, border-color 2s;
}
/* line 523, /Users/EggDouglas/workshop/workshop/css/app */
.col-md-4 > .btn-default:hover {
  background-color: #00a3d6;
  border-color: #00a3d6;
}
/* line 527, /Users/EggDouglas/workshop/workshop/css/app */
.col-md-4 > .btn-default .glyphicon {
  float: right;
  font-size: 30px;
}
/* line 533, /Users/EggDouglas/workshop/workshop/css/app */
#main {
  margin-top: 50px;
  padding-left: 15px;
  padding-right: 15px;
}
/* line 538, /Users/EggDouglas/workshop/workshop/css/app */
#main > .col-md-3 {
  height: auto;
  margin-right: 3vw;
}
/* line 546, /Users/EggDouglas/workshop/workshop/css/app */
#main > .col-md-3 .row {
  padding: 20px;
  border: 3px solid #dcdcdc;
  border-radius: 5px;
  box-shadow: 5px 5px 3px #888888;
}
/* line 553, /Users/EggDouglas/workshop/workshop/css/app */
#main > .col-md-3 #up {
  height: auto;
  width: auto;
  margin-bottom: 60px;
  background-color: #eaf9ff;
  background-image: url(http://www.ansonika.com/edu/img/sticker-1.png);
  background-repeat: no-repeat;
  background-position: top right;
}
/* line 561, /Users/EggDouglas/workshop/workshop/css/app */
#main > .col-md-3 #up .upbox {
  color: #333333;
}
/* line 563, /Users/EggDouglas/workshop/workshop/css/app */
#main > .col-md-3 #up .upbox .glyphicon {
  font-size: 30px;
  color: #ff6666;
  float: left;
}
/* line 572, /Users/EggDouglas/workshop/workshop/css/app */
#main > .col-md-3 #down {
  padding: 0px;
  margin-bottom: 50px;
  overflow: hidden;
}
/* line 582, /Users/EggDouglas/workshop/workshop/css/app */
#main > .col-md-9 {
  height: auto;
  padding: 15px 35px 15px 35px;
  background-color: white;
  border: 3px solid #f0f0f0;
  border-radius: 5px;
  box-shadow: 5px 5px 3px #888888;
}
/* line 596, /Users/EggDouglas/workshop/workshop/css/app */
.showbox {
  display: block;
  width: 55vw;
  height: auto;
}
/* line 600, /Users/EggDouglas/workshop/workshop/css/app */
.showbox .imgWithIntro {
  margin-top: 10px;
  width: 130px;
  height: 120px;
  background-color: #eaf9ff;
  border: 0px solid #f0f0f0;
  border-radius: 8px;
}
/* line 607, /Users/EggDouglas/workshop/workshop/css/app */
.showbox .imgWithIntro img {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  border: 0px solid #f0f0f0;
  border-radius: 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
/* line 618, /Users/EggDouglas/workshop/workshop/css/app */
.showbox .imgWithIntro h5 {
  padding: 3px;
  text-align: center;
  width: 130px;
  margin: auto;
  background-color: black;
  color: #eaf9ff;
  border: 0px solid #f0f0f0;
  border-radius: 3px;
}
/* line 629, /Users/EggDouglas/workshop/workshop/css/app */
.showbox ul {
  padding-left: 0px;
  list-style-type: none;
  color: black;
  font-size: 12px;
  font-weight: 300;
}
/* line 635, /Users/EggDouglas/workshop/workshop/css/app */
.showbox ul li {
  display: inline;
  padding: 8px;
}
/* line 638, /Users/EggDouglas/workshop/workshop/css/app */
.showbox ul li a {
  color: black;
}
/* line 641, /Users/EggDouglas/workshop/workshop/css/app */
.showbox ul li span {
  padding-right: 5px;
}
/* line 649, /Users/EggDouglas/workshop/workshop/css/app */
.btn-primary {
  background-color: #00a3d6;
  transition: background-color 2s, border-color 2s;
}
/* line 653, /Users/EggDouglas/workshop/workshop/css/app */
.btn-primary.facebook {
  background-color: #3b5998;
  transition: background-color 2s, border-color 2s;
}
/* line 657, /Users/EggDouglas/workshop/workshop/css/app */
.btn-primary.facebook:hover {
  background-color: #2d343e;
  border-color: #2d343e;
}
/* line 662, /Users/EggDouglas/workshop/workshop/css/app */
.btn-primary:hover {
  background-color: #2d343e;
  border-color: #2d343e;
}
/* line 671, /Users/EggDouglas/workshop/workshop/css/app */
#footer {
  text-align: center;
  margin-top: 80px;
  padding: 30px;
  display: block;
  background-color: white;
  height: auto;
  width: auto;
}
/* line 679, /Users/EggDouglas/workshop/workshop/css/app */
#footer ul {
  font-weight: 400;
  font-size: 13px;
}
/* line 682, /Users/EggDouglas/workshop/workshop/css/app */
#footer ul li {
  margin: 3px;
}
/* line 686, /Users/EggDouglas/workshop/workshop/css/app */
#footer .footerContainer {
  padding: 20px;
}
/* line 689, /Users/EggDouglas/workshop/workshop/css/app */
#footer #quick-links {
  text-align: left;
}
/* line 692, /Users/EggDouglas/workshop/workshop/css/app */
#footer #contacts-footer {
  text-align: left;
}
/* line 694, /Users/EggDouglas/workshop/workshop/css/app */
#footer #contacts-footer span {
  padding: 3px;
}
/* line 697, /Users/EggDouglas/workshop/workshop/css/app */
#footer #contacts-footer li {
  padding-bottom: 2px;
}
/* line 703, /Users/EggDouglas/workshop/workshop/css/app */
#footer #logo a {
  margin: 10px;
  width: 140px;
}
